<h3>게시글 보기</h3>
<hr>


<div class="card mt-5">
  <div class="card-body ">

    <p><%= @post.user.username %></p>
    <hr>
    <p><%= @post.title %></p>
    <hr>
    <p><%= @post.content %></p>

  </div>
</div>
